img{
    
    height: 100%;
    width: 100%;

}
.Penguin{
    position:absolute;
    top: 91%;
    left: 55%;

}
.Rhino{
    position:absolute;
    top: 62%;
    left: 55%;
}
.Leopard{
    position:absolute;
    top: 48%;
    left: 49%;
}
.PolarBears{
    position:absolute;
    top: 18%;
    left: 34%;
}
.Crocodiles{
    position:absolute;
    top: 55%;
    left: 81%;
}
.Dolphins{
    position:absolute;
    top: 55%;
    left: 10%;
}
.Pandas{
    position:absolute;
    top: 39%;
    left: 78%;
}
.Whale{
    position:absolute;
    top: 77%;
    left: 43%;
}
.Mink{
    position:absolute;
    top: 33%;
    left: 54%;
}
.CaliCon{
    position:absolute;
    top: 37%;
    left: 20%;
}
.Jaguars{
    position:absolute;
    top: 67%;
    left: 30%;
}


.popup-Penguin{
    height:530px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: small;
}
.popup-header-Penguin{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Penguin{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}



.popup-Jaguar{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: small;
}
.popup-header-Jaguar{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Jaguar{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}




.popup-Dolphin{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
   
}
.popup-header-Dolphin{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Dolphin{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}


.popup-Whale{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: medium;
}
.popup-header-Whale{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Whale{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}


.popup-Calicondor{
    height:605px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: small;
}
.popup-header-Calicondor{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Calicondor{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}


.popup-Crocodile{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: small;
}
.popup-header-Crocodile{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Crocodile{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}

.popup-Leopard{
    height:523px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: small;
}
.popup-header-Leopard{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;

}
.main-Leopard{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
}

.main-polar-bear{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
  }
  .popup-header-polar-bear{
    display: flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;
  
  }
  .popup-polar-bear{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: small;
  }
  
  .main-Mink{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
  }
  
  .popup-header-Mink{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;
  }
  
  .popup-Mink{
    height:525px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: small;
  }
  
  .main-Panda{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
  }
  .popup-header-Panda{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;
  }
  
  .popup-Panda{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: small;
  }
  
  .main-Rhino{
    background-color: beige;
    height:100%;
    width: 100%;
    position: absolute;
    top:0;
  }
  
  .popup-Rhino{
    height:500px;
    width:50%;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 25%;
    font-size: small;
  }
  .popup-header-Rhino{
    display:flex;
    justify-content:space-between;
    padding: 0 15px 0 15px;
    border-bottom: 2px solid black;
  }

  /* Dolphin Pop Up Contents */

  .DolphinPic{
    height: 250px;
    width: 320px;
    
  }

  .Dolphin-quiz{
    color: black;
  }
.Dolphin-pairs{
    color: black;
    margin-left: 10%;
}
.Dolphin-puzzle{
    color: black;
    margin-left: 10%;
}

.JaguarPic{
    height: 250px;
    width: 350px;
    text-align: center;
  }

  .Jaguar-quiz{
    color: black;
  }
.Jaguar-pairs{
    color: black;
    margin-left: 10%;
}
.Jaguar-puzzle{
    color: black;
    margin-left: 10%;
}

.PenguinPic{
    height: 250px;
    width: 350px;
    text-align: center;
  }

  .Penguin-quiz{
    color: black;
  }
.Penguin-pairs{
    color: black;
    margin-left: 10%;
}
.Penguin-puzzle{
    color: black;
    margin-left: 10%;
}

.WhalePic{
    height: 250px;
    width: 350px;
    text-align: center;
  }

  .Whale-quiz{
    color: black;
  }
.Whale-pairs{
    color: black;
    margin-left: 10%;
}
.Whale-puzzle{
    color: black;
    margin-left: 10%;
}

.CalicondorPic{
    height: 250px;
    width: 350px;
    text-align: center;
  }

  .Calicondor-quiz{
    color: black;
  }
.Calicondor-pairs{
    color: black;
    margin-left: 10%;
}
.Calicondor-puzzle{
    color: black;
    margin-left: 10%;
}


.LeopardPic{
    height: 250px;
    width: 350px;
    text-align: center;
  }

  .Leopard-quiz{
    color: black;
  }
.Leopard-pairs{
    color: black;
    margin-left: 10%;
}
.Leopard-puzzle{
    color: black;
    margin-left: 10%;
}

.CrocodilePic{
    height: 250px;
    width: 350px;
    text-align: center;
  }

  .Crocodile-quiz{
    color: black;
  }
.Crocodile-pairs{
    color: black;
    margin-left: 10%;
}
.Crocodile-puzzle{
    color: black;
    margin-left: 10%;
}


.PolarBearPic{
    height: 250px;
    width: 100%;
    text-align: center;
  }

  .PolarBear-quiz{
    color: black;
  }
.PolarBear-pairs{
    color: black;
    margin-left: 10%;
}
.PolarBear-puzzle{
    color: black;
    margin-left: 10%;
}

.MinkPic{
    height: 250px;
    width: 400px;
    text-align: center;
  }

  .Mink-quiz{
    color: black;
  }
.Mink-pairs{
    color: black;
    margin-left: 10%;
}
.Mink-puzzle{
    color: black;
    margin-left: 10%;
}

.PandaPic{
    height: 250px;
    width: 430px;
    text-align: center;
  }

  .Panda-quiz{
    color: black;
  }
.Panda-pairs{
    color: black;
    margin-left: 10%;
}
.Panda-puzzle{
    color: black;
    margin-left: 10%;
}

.RhinoPic{
    height: 250px;
    width: 430px;
    text-align: center;
    
  }

  .Rhino-quiz{
    color: black;
  }
.Rhino-pairs{
    color: black;
    margin-left: 10%;
}
.Rhino-puzzle{
    color: black;
    margin-left: 10%;
}


